* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.single-column {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
}

.card-container {
    display: flex;
    gap: 25px;
    justify-content: center;
}
.card {
    border: 5px solid #00ffc8;
    padding: 25px;
    text-align: center;
}
.card h3 {
    margin: 0px;
    font-size: 35px;
}
.card p {
    margin: 25px 0px 0px;
}
h2 {
    text-align: center;
}