#container {
    width: 500px;
    min-height: 100vh;
    background-color: #0d385a;
    font-size: 0px;
}
.block {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #44a8ff;
    border-radius: 20%;
    border: 12px outset slateblue;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.purple {
    background-color: purple;
}
.white {
    background-color: antiquewhite;
}