* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column {
    width: 80%;
    max-width: 900px;
    margin: 0px auto;
    background-color: white;
    padding: 25px;
    border: 15px solid gold;
}
img {
    width: 100%;
    object-fit: cover;
    padding-bottom: 15px;
    padding-top: 15px;
}
a {
    text-decoration: none;
    display: inline-block;
}
body {
    background-color: purple;
}
p {
    margin: 24px 0px;
}