/* Resets Below */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/feathers.jpg");
    background-size: cover;
    background-position: center center;
    backdrop-filter: blur(5px);
}
img {
    width: 100%;
    object-fit: cover;
}
/* Resets Above */
.single-column {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
}
header {
    background-color: #efcf70;
    padding: 25px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 55px;
}
nav .logo {
    margin-right: auto;
    padding: 25px;
    height: 300px;
}
nav a {
    font-size: 24px;
    color: #fefdf3;
    text-decoration: none;
    padding: 5px;
    font-size: larger;
    margin: 15px;
}
/* header ^ */
.header {
    text-align: center;
    color: #fefdf3;
    margin: 50px;
}
/* gallery */
.hm-gal {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    background-color: #4283c185;
    backdrop-filter: blur(15px);
}
.hm-gal img {
    flex: 1;
    height: 250px;
    gap: 25px;
    margin: 25px;
}