p {
    font-size: 20px;
    text-align: center;
}
#p2 {
    font-weight: 600;
}
#p1-s1 {
    font-style: italic;
    text-decoration: underline;
}
#p1 {
    background-color: lavender;
    color: #45454a;
}