#navbar {
    text-align: center;
    padding: 24px;
    background-color: blue;
}
#navbar a {
    color: white;
    text-decoration: none;
}
p a {
    color: teal;
}
p.warning {
    background-color: #ff5f7f;
}
p.warning a {
    color: #ffffff;
}
ul {
    color: green;
}
ul a {
    color: lime;
}
ul p a {
    color: purple;
}
ul div a {
    color: aqua;
}