/* Resets Below */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
/* Resets Above */
.single-column {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

header {
    background-color: #ffa8ac;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
nav a {
    color: #7c2050;
    text-decoration: none;
    width: 400px;
    padding: 0px;
    font-size: larger;
}
.link {
    margin: 20px 0px;
    margin-left: 100px;
    padding: 0px;
}
.logo {
    font-size: 36px;
    margin-right: auto;
}
h1 {
    text-align: center;
}

.btn {
    text-decoration: none;
    text-align: center;
    font-family: initial;
    background-color: #fef37c;
    padding: 10px 30px;
    display: inline-block;
    color: #92295f;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #1115;
    border: 2px solid #92295f;
    transition: background-color 0.5s, color 0.5s;
}
.btn:hover {
    background-color: transparent;
    color: #ffffff;
}