/* Resets Below */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
/* Resets Above */
.single-column {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
}

header {
    background-color: cadetblue;
}

header nav {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}
nav a {
    color: white;
    text-decoration: none;
    width: 400px;
    
}

