@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&family=Yatra+One&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    font-family: "Lexned Peta", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 500;
}
.single-column {
    width: 80%;
    max-width: 900px;
    margin: 0px auto;
}
img {
    width: 100%;
    object-fit: cover;
    padding-bottom: 15px;
    padding-top: 15px;
}
h3,
h1,
h2 {
    padding: 25px 0px;
    text-align: center;
    font-family: 
        "Yatra One", 
        system-ui,
        'Open Sans', 
        'Helvetica Neue', 
        sans-serif;
    font-weight: 400;
    font-style: normal;
}
p {
    padding: 25px 0px;
    text-align: center;
    font-family: "Lexned Peta", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 19px;
    color: whitesmoke;
}
.light-container {
    background-color: #cf4b4b;
    padding-bottom: 50px;
}
.btn {
    text-decoration: none;
    font-size: larger;
    background-color: rgb(10, 140, 253);
    padding: 20px 40px;
    display: block;
    color: #ffffff;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #1115;
    border: 2px solid #2600ff;
    transition: background-color 0.5s, color 0.5s;
    width: max-content;
    margin: 0px auto;

}
.btn:hover {
    background-color: transparent;
    color: #ffffff;
}
.dark-container {
    background-color: #3d3030;
    color: #f72a2a;
    padding-top: 50px;
    padding-bottom: 50px;
}
.darker-container {
    background-color: #33203c;
    color: whitesmoke;
    padding-top: 50px;
    padding-bottom: 50px;
}
.jake {
    color: #00c8ff;
}
.lighter-container {
    background-color: #065151;
    padding-top: 50px;
    padding-bottom: 50px;
}
.ney {
    color: #00ff95;
}
.medium-container {
    background-color: #5b713b;
    padding-top: 50px;
    padding-bottom: 50px;
}
.ban {
    color: #ffdd00;
}
.extra-container {
    background-color: #362a1d;
    color: #04d508;
    padding-top: 50px;
    padding-bottom: 50px;
}