/* Resets Below */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
/* Resets Above */
body {
    background-image: url("../images/images.jpeg");
    background-size: contain;
}
.single-column {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
}
/* hero */
#centered-hero {
    background-image: url("../images/bubs.gif");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}
.content h1 {
    font-size: 72px;
    margin: 0px;
    color: whitesmoke;
}
.content p {
    font-size: 20px;
    margin: 15px 0px 25px;
    color: whitesmoke;
}
.content .btn {
    background-color: #0528a780;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
}
/* hero ended */

/* gallery */
.hm-gal {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.hm-gal img {
    flex: 1;
    height: 250px;
    gap: 25px;
    margin: 5px;
}