.color-palatte {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;
    margin: 24px;
    padding: 24px;
}
.color {
    margin: 0px;
    padding: 24px;
}
#color-1 {
    background-color: #931621;
    color: white;
}
#color-2 {
    background-color: #326771;
    color: white;
}
#color-3 {
    background-color: #2c8c99;
    color: white;
}
#color-4 {
    background-color: #C41E3D;
    color: white;
}
#color-5 {
    background-color: #7D1128;
    color: white;
}
#color-6 {
    background-color: #E2294f;
    color: white;
}
#color-7 {
    background-color: #3C0919;
    color: white;
}